// LIGHT
.light {
  .text {
    color: #191919;
  }
  .background {
    background: linear-gradient(to bottom left, #fffffc 0%, #f7f3f3 100%);
    transition: 0.6s background-color, 0.6s opacity, 0.6s filter, 0.6s transform;
    opacity: 1;
    filter: grayscale(0%);
    border-bottom: 1px solid #191919;
    transform: scale(1);
  }
}

// DARK
.dark {
  .text {
    color: white;
  }
  .background {
    // background-color: #191919;
    background: linear-gradient(to bottom left, #64645c 0%, #191919 100%);

    transition: 0.6s background-color, 0.6s opacity, 0.6s filter, 0.6s transform;
    // filter: grayscale(100%);
    transform: scale(1);
  }
}
