// .SCSS FILE
* {
  padding: 0px;
  margin: 0px;
}
// DEFINE SOME VARABLES
$bgColor: #191919;
// MIXING DISPLAY FLEX
@mixin Flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// NAVBA STYLE DIV
.navbar_header {
  width: 100%;
  height: 200px;
  background-color: $bgColor;
}

// sub nav-bar
.sub_navbar {
  width: 75%;
  height: 60px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// NAVBAR ELEMENTS 3 DIVS
.left_home_element {
  width: 80%;
  height: 100%;
}

// DARK MODE ICONS
.dark_mode_lang_icons {
  width: 20%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dark_mode_ico {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#split_border {
  color: white;
}

// UL LIST OF THE NAV MAIN <ul>
.ul_list {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  //  LI
  li {
    list-style-type: none;
    color: white;
    cursor: pointer;

    font-size: 18px;
  }
}

// SELECT INPUT
#languages_select {
  height: 30px;
  width: 55px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}

.logo {
  width: 40%;
  height: 70%;
  margin: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.li_remove_deco {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

#img_don {
  margin-top: 6px;
}

#tag_guide {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

@media screen and (max-width: 1200px) {
  .navbar_header {
    height: 280px;
  }

  // MAKE FLEX DIRECTION COLUMN
  .sub_navbar {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ul_list {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .dark_mode_lang_icons {
    display: none;
  }
}
